@using Renderer.Entities;

@model IEnumerable<FooterLinkEntity>

<ul class="footer-links">
    @foreach (var link in Model)
    {
        <li>
            <a href="@link.Url" title="@link.Title">
                @if (!string.IsNullOrEmpty(link.IconUrl))
                {
                    <img src="@link.IconUrl" alt="@link.Title icon" />
                }
                @link.Title
            </a>
        </li>
    }
</ul>

